version: "3"

services:
  torchbench-api-server:
    build: 
      context: ./
      dockerfile: ./Dockerfile
    image: torchbench-api:latest
    container_name: torchbench-fastapi
    working_dir: /workspace
    # volumes:
    #   - .:/workspace/benchmark
    deploy:
      resources:
        reservations:
          devices:
            - capabilities:
              - gpu
    environment:
      - NVIDIA_VISIBLE_DEVICES=all
      - NVIDIA_DRIVER_CAPABILITIES=compute,video,utility
    ports:
      - "80:80"

